<!-- Emails use the XHTML Strict doctype -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <!-- The character set should be utf-8 -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!-- Enables media queries -->
  <meta name="viewport" content="width=device-width"/>
  <!-- Link to the email's CSS, which will be inlined into the email -->
  <link rel="stylesheet" href="../build/styles.css" inline>
<!--  <link rel="stylesheet" href="custom.css">-->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
</head>
<body>
      
    <table class="body">
      <tr class="bg-img">
        <td>
          <center>
            <spacer size="50px"></spacer>
            <container class="no-bg">
                <row>
                    <columns large="6">
                        <a class="no-bg" href="https://iqoption.com/ru">
                            <img class="no-bg logo" src="http://cloclo41.datacloudmail.ru/weblink/view/Ca95/J34GaXEc9/logo%20iq_black.png?etag=DC1E6E0A6579EABEC52F196930114314D716122D&key=50dc3ce05501dbbccbe9c6346c1e4294d8bb9001" alt="iq-options logo" width="167" height="35">
                        </a>
                    </columns>
                </row>
            </container>
            <spacer size="30px"></spacer>
            <container class="no-bg">
                <row>
                    <columns>
                        <h1 class="main-heading"><span class="name">3 Easy Steps</span><br> to Improve your <br>Chance of Success</h1>
                        <p class="subtitle">These steps are simple, effective and 100% free.</p>
                    </columns>
                </row>
            </container>

            <container class="angle--top">
               <spacer size="42px" large="12"></spacer>
                <row>
                    <columns>
                        <h2 class="main-sub-heading price-chart"><b class="border-bt">1. Play</b> around with the Price Chart</h2>
                        <spacer size="30px" class="show-for-large"></spacer>
                        <p class="description price-chart">Did you know you can adjust the price chart to your personal preference and trading goals? So simple, yet so <b>useful for making more accurate predictions.</b></p>
                    </columns>
                </row>
                <spacer size="5px"></spacer>
                <row>
                   <center>
                        <img class="instrument" src=" http://cloclo42.datacloudmail.ru/weblink/view/Ca95/J34GaXEc9/instrument.png?etag=133A8D6CD5420A060162297BB7C4C8601B716EE7&key=7a9f4ea4346c0b737ecd8fa17be859b2477e8efb" alt="available trading instrument" width="432" height="246">
                    </center>
                </row>
                <spacer size="25px"></spacer>
                <row>
                   <center>
                        <h2 class="main-sub-heading txt-center">You Can:</h2>
                    </center>
                </row>
                <spacer size="10px" class="show-for-large"></spacer>
            </container>
            <center>
               <container class="angle--bottom">
                    <container class="list">
                        <row class="no-padding">
                            <columns class="no-padding" small="3" large="3"  first>
                                <center>
                                    <img class="icon icon--drag" src="http://cloclo11.datacloudmail.ru/weblink/view/Ca95/J34GaXEc9/drag.png?etag=6D8BDB6F9353373BB3EE05D631CE1875C156E689&key=50dc3ce05501dbbccbe9c6346c1e4294d8bb9001" alt="hold and drag icon" width="30" height="33">
                                </center>
                            </columns>
                            <columns class="no-padding" small="3" large="3">
                                <center>
                                    <img class="icon icon--scale" src="http://cloclo11.datacloudmail.ru/weblink/view/Ca95/J34GaXEc9/scale.png?etag=23A5E0E552C32D3FB97E0A84096455EE0B70F5AA&key=50dc3ce05501dbbccbe9c6346c1e4294d8bb9001" alt="scale-icon" width="30" height="32">
                                </center>
                            </columns>
                            <columns class="no-padding" small="3" large="3">
                                <center>
                                    <img class="icon icon--choose" src="http://cloclo11.datacloudmail.ru/weblink/view/Ca95/J34GaXEc9/choose.png?etag=A2D052B0FCB26457BA6EC3F9A50225939BD7851A&key=50dc3ce05501dbbccbe9c6346c1e4294d8bb9001" alt="choose-icon" width="29" height="41">
                                </center>
                            </columns>
                        </row>
                        <row>
                            <columns large="3">
                                <p class="list-item"><b>Hold and drag</b>
                                the chart to review
                                earlier price dynamic.
                                </p>
                            </columns>
                            <columns large="3">
                                <p class="list-item"><b>Scale the chart</b> by changing the display period between 30 days and 30 minutes. </p>
                            </columns>
                            <columns large="3">
                                <p class="list-item"><b>Choose the type of chart</b> you want to use. Do you prefer Lines, Candles or Bars?
                                </p>
                            </columns>
                        </row>
                    </container>
                    <spacer size="20px"></spacer>
                </container>
                
            </center>
            <spacer size="30px"></spacer>
            <container class="angle">
                <img src="http://cloclo37.datacloudmail.ru/weblink/view/Ca95/J34GaXEc9/blurred.png?etag=403C13EF50665825FC5BECF018C17F992B8A2DA5&key=50dc3ce05501dbbccbe9c6346c1e4294d8bb9001" alt="blurred background picture" width="580" height="auto">
            </container>
            <container class="read-box-empty">
                <container class="read-box">
                    <center>
                        <img class="icon--paper" src="http://cloclo11.datacloudmail.ru/weblink/view/Ca95/J34GaXEc9/read.png?etag=5B9AA51EBCDD9E3646F2E6D6C8BCA2975A2FD3BC&key=50dc3ce05501dbbccbe9c6346c1e4294d8bb9001" alt="document paper icon" width="46" height="42">
                    </center>
                    <spacer size="45px"></spacer>
                        <container class="no-bg">
                            <p class="description description--white">Read the <b>“3 easy steps towards success in trading”</b> on the IQ Blog to boost your trading skills.</p>
                            <spacer size="13px"></spacer>
                            <column>
                                <center>
                                   <button href="#">Read more</button>
                                </center>
                            </column>
                        </container>
                 </container>
             </container>
             <container class="footer_wrapper no-bg">
                <spacer size="40px"></spacer>
                <conatainer class="footer">
                    <center>
                        <column class="box-center-rel">
                           <center>
                                <h3 class="footer_heading">General Risk Warning:</h3>
                            </center>
                        </column>
                        <p class="footer_text footer_text--box">The financial services provided by this website carry a high level of risk and can result in the loss of all your funds. You should never invest money that you can not afford to lose.</p>
                    </center>
                </conatainer>
                <container class="no-bg">
                 <row>
                     <columns>
                         <p>
                            <center>
                             <a class="footer_text" href="#">Privacy and Policy | </a>
                             <a class="footer_text" href="#">Unsubscribe</a>
                             </center>
                         </p>
                     </columns>
                 </row>
                </container>
             </container>
             <container>
                 
             </container>
            <table>
                <tbody>
                    <tr>
                        <td>
<!--                          
                        </td>
                    </tr>
                </tbody>
            </table>
          </center>
        </td>
      </tr>
    </table>
    <table>
      <tr>  </tr>
    </table>
</body>
</html>